@font-face {
    font-family: Outfit;
    src: url(Outfit-VariableFont_wght.ttf);
}

body {
    position: absolute;
    overflow: hidden;
    inset: 0 0 0 0;
    font-size: 5vw;
    font-family: Outfit;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p, div {
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.block {
    background-color: black;
    color: white;
    padding: 0 0.25em;
    margin: 0.25em 0;
}

.subtitle {
    font-size: 40%;
}